.table-of-contents {
  margin-top: -16px;
  display: flex;
  flex-direction: column;
} 

.core-operations-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-image {
  margin-bottom: 50px;
}

.core-operations-button {
  background-color: gray;
  border-radius: 4%;
  padding: 10px;
  margin-top: 20px;
}

.core-operations-button:hover {
  background-color: rgb(183, 182, 182);
  transition: background-color 0.015s;
}

.core-operations-button:active {
  opacity: 0.75;
  transition: opacity 0.15s;
}

.upload_image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.upload_image input {
  display: none;
}

.upload_image label {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #007bff; /* Button color */
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
}

#file-input {
  display: none;
}

/* <img class="default-image" src="{{ url_for('static', filename='images/man.jpg') }}" alt="Image"> */
