.table-of-contents {
  margin-top: -16px;
  display: flex;
  flex-direction: column;
} 

.core-operations-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <img class="default-image" src="{{ url_for('static', filename='images/man.jpg') }}" alt="Image"> */
