head {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 16, 16);
    color: rgb(164, 164, 164);
    font-family: Roboto, Arial;
    padding-bottom: 500px;
}

table {
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;

}

tr {
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

td {
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

th {
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    color: rgb(213, 213, 213);
}

.table-of-contents {
    margin-top: -16px;
    display: flex;
    flex-direction: column;
  } 

  .table-of-contents-non-homepage {
    display: flex;
    flex-direction: column;
  }

  .default-image{
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }