head {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 16, 16);
    color: rgb(164, 164, 164);
    font-family: Roboto, Arial;
    padding-bottom: 500px;
    font-size: 20px;
}

table {
    align-items: center;
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

tr {
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

td {
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

th {
    border-collapse: collapse;
    border: 1px solid white;
    padding: 10px;
    text-align: left;
    color: rgb(213, 213, 213);
}