.title {
  display: flex;
  justify-content: center;
}

.man-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}

.table-of-contents {
  margin-top: -16px;
  display: flex;
  flex-direction: column;
}