<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='core_operations.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">




    <title>Core Operations</title>
</head>
<body>
    <div class="core-operations-page">
        <div class="welcome">
            <h1>Welcome to Core Operations</h1>
        </div>

        <table>
            <tr>
                <th>Function</th>
                <th>Purpose</th>
            </tr>
            <tr>
                <th>imread(image_path, flag)</th>
                <td>Reads an image from the specified image_path.<br><br>
                    flag: Handles how the image should be read:<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;- cv2.IMREAD_COLOR, cv2.IMREAD_GRAYSCALE, cv2.IMREAD_UNCHANGED
                </td>
            </tr>
            <tr>
                <th>imshow(window_name, image)</th>
                <td>Shows the image in the window<br><br>
                    window_name: str to name the window<br><br>
                    image: read image</td>
            </tr>
            <tr>
                <th>imwrite(filename, image)</th>
                <td>Saves an image<br><br>
                    filename: path to save image to including image name and .png<br><br>
                    image: image to save</td>
            </tr>
        </table>

        <h1>Code:</h1>
        <div class="code-image">
            <img src="{{ url_for('static', filename='images/show_image_code.png') }}" alt="Image" style="height: auto;">
        </div>
        <div>
            Click to load the image
        </div>
        <div>
            <button class="core-operations-button" id="default-image">Read default</button>
            <button class="core-operations-button">Upload your own image</button>
        </div>

        <div class="table-of-contents-non-homepage"> 
            <a href="{{ url_for('views.drawing_shapes_and_text_on_images') }}">Next Section: Drawing Shapes and Text on Images</a>
            <a href="{{ url_for('views.home')}}">Home</a>
        </div>
    </div>

    <script src="core-operations.js"></script>
</body>
</html>