<style>

    p {
        font-family: Arial;
        margin-top: 0;
        margin-bottom: 0;
    }

    .video-title {
        font-weight: bold;
        font-size: 18px;
        width: 280px;
        line-height: 24px;
    }

    .video-stats {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-bottom: 20;
    }

    .video-author {
        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-bottom: 20;

    }

    .video-description {
        font-size: 14px;
        color: rgb(96, 96, 96);
        width: 280px;   
        line-height: 20px;
        margin-bottom: 100px;
    }

    .apple-text {
        margin-bottom: 50px;
        font-size: 15px;
        background-color: rgb(227, 65, 64);
        color: white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .apple-text-span {
        margin-left: 5px
    }
    .apple-text-span:hover {
        text-decoration: underline;
    }

</style>


<p class="video-title">
    Talking Tech and AI with Google CEO sundar Pichai!
</p>

<p class="video-stats">
    3.4M views &#183 6 months ago
</p>   

<p class="video-author">
    Marques Brownlee &#10003
</p>

<p class="video-description">
    Talking tech and AI on the heels of Google
    I/0. also a daily driver phone reveal from
    Google's CEO. Shoutout to Sundar!
</p>

<p class="apple-text">
    Shop early for the best selection of holiday favourites. <span class="apple-text-span">Shop now</span> &#62
</p>